<a href="https://colab.research.google.com/github/MargaritoMiguel/cyp_2021/blob/main/TAREA3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
 #Ejemp√±o 1.1
 PREPRO = 0
 PAGO = 0
 DEVO = 0
 PREPRO= int(input(" ingrese el precio del producto "))
 PAGO= int(input(" ingrese el monto con el que pagara en peosos mexicanos "))
 DEVO = (PAGO-PREPRO)
 print( " la dovolucion es:", DEVO)

 ingrese el precio del producto 799
 ingrese el monto con el que pagara en peosos mexicanos 1000
 la dovolucion es: 201

In [2]:
 #Ejemplo 1.2
 ALTU = 0
 BASE = 0
 Superficie = 0
 ALTU = int(input(" ingrese el valor de altura "))
 BASE = int(input(" ingrese el valor de BASE "))
 Superficie = (( BASE*ALTU) / 2 )
 print( "la superficie es: " , Superficie)

 ingrese el valor de altura 34
 ingrese el valor de BASE 2
la superficie es:  34.0

In [39]:
 #eJEMPLO 1.3
 
 PESO = 0
 LONGUITUD = 0
 TONELADA = 0
 PIE = 0
 CONVERION_PESO = 0
 CONVERSION_lONGUITUD = 0 
 
 PESO = float(input( " ingrese el peso del dinosaurio : "))
 METROS = float(input( " inngrese la medida de dicho dinosaurio "))
 TONELADA = 1000
 PIE = 0.3047
 CONVERSION_PESO = (PESO*TONELADA )
 CONVERSION_LONGUITUD = (METROS*PIE)
 print( " el peso en toneladas es: ", CONVERSION_PESO)
 print( " la longuitud en pies es de: " , CONVERSION_LONGUITUD)

 ingrese el peso del dinosaurio : 5
 inngrese la medida de dicho dinosaurio 30
 el peso en toneladas es:  5000.0
 la longuitud en pies es de:  9.141

In [9]:
 #Ejemplo 1.4
 GAL = 3.785
 LITRO = 8.20 
 GALONES = 0
 total = 0
 GALONES= float(input( " ingrse cuantos GALONES desea comprar : " ))
 total = (GALONES*LITRO) * GAL
 print( " litros por galon:" , GAL)
 print( " sabiendo que el costo por litro es de: 8.20")
 print( "costo total: " , total  )

 ingrse cuantos GALONES desea comprar : 3
 litros por galon: 3.785
 sabiendo que el costo por litro es de: 8.20
costo total:  93.11099999999999

In [19]:
 #Ejemplo 1.5
 RADIO = 0
 ALTURA = 0
 VOLUMEN = 0
 AREA = 0
 pi = 3.1415
 RADIO = float(input( " ingrse el valor del radio: " ))
 ALTURA = float(input( " ingrse el valor de la altura: " ))
 pi = ( 3.1415)
 VOLUMEN = pi*RADIO**2*ALTURA
 AREA = ( 2*pi*RADIO*ALTURA)
 print( " valor del area es :" , AREA)
 print( " el valor del volumen es: " , VOLUMEN)

 ingrse el valor del radio: 45.22
 ingrse el valor de la altura: 11.60
 valor del area es : 3295.7602159999997
 el valor del volumen es:  74517.13848375999

In [29]:
 #Ejemplo 1.6
 DIAS = 0
 SEGUNDOS = 0
 TOTAL = 0
 MINUTOS = 0
 HORA = 0
 DIAS = float(input( " ingrese los dias que quiera saber: " ))
 SEGUNDOS = 60
 MINUTOS = 60
 DIA = 24
 TOTAL = DIAS*DIA*MINUTOS*SEGUNDOS
 print( " el resultado es : " , TOTAL)

 ingrese los dias que quiera saber: 7
 el resultado es :  604800.0